[submodule "FastForwardMerge"]
	path = FastForwardMerge
	url = ./FastForwardMerge
[submodule "MergeCommit"]
	path = MergeCommit
	url = ./MergeCommit
[submodule "MergeWithConflicts"]
	path = MergeWithConflicts
	url = ./MergeWithConflicts
